.step-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 380px;
  max-width: 100%;
}

.step-form__full {
  width: 100%;
}

.step-form__row {
  display: flex;
  gap: 1rem;

  mat-form-field {
    flex: 1 1 0;
  }
}
